.footer {
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 100;
  padding: 40px 0px;
  background-color: $main-color-dark;
  opacity: 0.9;
  a {
    text-decoration: underline;
  }
}
