.projects {
    padding-top: 80px;
    min-height: 100vh;
    .container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }
    &__wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 20px 0px 50px 0px;
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 40px;
    }
    &__card {
        position: relative;
        z-index: 100;
        padding: 20px;
    }
}