@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #2a2b32;
  color: #2a2b32;
}

canvas {
  height: 100vh;
  position: fixed;
  top: 0px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.projects {
  padding-top: 80px;
  min-height: 100vh;
}
.projects .container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.projects__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0px 50px 0px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 40px;
}
.projects__card {
  position: relative;
  z-index: 100;
  padding: 20px;
  background-color: #fff;
}
.projects__item {
  border-radius: 20px;
  z-index: 100;
  box-shadow: 0px 0px 5px #efefef;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 36px;
  text-align: center;
  background-color: none;
  transition: all 0.6s;
  padding: 20px;
}
.projects__item:hover {
  transform: scale(1.05);
}

.title {
  font-size: 56px;
  color: #fff;
}
.title-maintitle {
  font-size: 96px;
}

.subtitle {
  font-size: 36px;
  color: #fff;
}

.promo {
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 100px 50px 100px 50px;
}
.promo .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card__title {
  font-size: 36px;
  text-transform: uppercase;
}
.card__title a {
  color: #2a2b32;
  text-decoration: none;
}
.card__img {
  margin-top: 15px;
  margin-bottom: 15px;
  width: auto;
  max-width: 300px;
  max-height: 300px;
  box-shadow: 0px 0px 15px #2a2b32;
}
.card__img img {
  width: 100%;
  min-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0;
     object-position: 0;
}
.card__img :hover {
  transform: scale(1.05);
  transition: all 0.5s;
}
.card__descr {
  margin-top: 15px;
  display: flex;
}
.card__descr .descr-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.card__descr .descr-item i {
  font-size: 36px;
}
.card__divider {
  border: 1px solid #2a2b32;
  margin-bottom: 15px;
}
.card__links {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
.card__links a {
  color: #2a2b32;
  text-decoration: none;
}

.nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 20px 0px;
  background-color: #2a2a2a;
  font-size: 24px;
}
.nav .container {
  padding: 0px 180px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__links {
  display: flex;
  gap: 20px;
}
.nav__links a {
  color: #fff;
  text-decoration: none;
}
.nav__social {
  display: flex;
  gap: 20px;
}
.nav__social a {
  color: #fff;
  text-decoration: none;
}

.footer {
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 100;
  padding: 40px 0px;
  background-color: #2a2a2a;
  color: #fff;
}
.footer a {
  color: #fff;
}

.about {
  padding-top: 80px;
  color: #fff;
  min-height: 50vh;
}
.about__descr {
  padding: 10px;
  position: relative;
  border-radius: 20px;
  z-index: 100;
  background-color: #2a2b32;
  font-size: 16px;
}

.skills {
  padding-top: 80px;
  color: #fff;
  min-height: 50vh;
}
.skills__descr {
  padding: 30px 10px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  justify-content: center;
  gap: 20px;
  z-index: 100;
  font-size: 16px;
}
.skills__item {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2a2b32;
  border-radius: 20px;
}
.skills__item i {
  margin-bottom: 10px;
  font-size: 72px;
}

@media (max-width: 1200px) {
  .nav .container {
    padding: 0 20px;
  }
  .title-maintitle {
    font-size: 72px;
  }
  .projects__wrapper {
    grid-template-columns: repeat(2, auto);
  }
}
@media (max-width: 992px) {
  .projects__wrapper {
    grid-template-columns: repeat(1, auto);
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 36px;
  }
  .title-maintitle {
    font-size: 56px;
  }
  .nav .container {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
}
@media (max-width: 576px) {
  .nav {
    font-size: 16px;
  }
  .title-maintitle {
    line-height: 68px;
    padding-bottom: 20px;
  }
  .subtitle {
    line-height: 36px;
  }
  .promo .container {
    align-items: flex-start;
  }
}