@import "../../styles/variables";
@import "../../styles/mixins";

.Wrapper {
  padding: 100px;
  background-color: rgba(41, 46, 54, 0.95);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  p,
  h2 {
    color: $light;
  }
  @include tablet {
    padding: 20px;
  }
}
